<div class="home-container">

    <div class="row">
      <h1>React JS example applications</h1>
    </div>

        <div class="links-container">
        <div class="col-md-6">
            <h2>CoffeeScript</h2>
            <%= link_to 'Account app', records_path, class: 'btn btn-info' %>
            <%= link_to 'Checklist app', checklists_path, class: 'btn btn-info' %>
        </div>

        <div class="col-md-6">
            <h2>JSX</h2>
        </div>

    </div>
</div>