// Place all the styles related to the Records controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/


.wrapper {
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.btn-fix {
  margin-right: 5px;
}